body {
  padding: 0px;
  margin: 0px;
}

:root{
    --main-color:#1A2A80;
    --second-color: #3B38A0;
    --third-color:#B2B0E8
    --fourth-color: #B2B0E8;
    --white: #ffffff;
    --black: #000000;
    --gray-dark: #222831;
    --gray:#393E46;
    --aqua: #74f5e6;

}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.menu {
  background-color: var(--black); /* color del fondo*/
  color: var(--white); /*color de la letra*/
  font-size: 14px; /*tama;o de la tipografia de la letra*/
  font-family: Verdana, Geneva, Tahoma, sans-serif; /*tipo de letra*/
  height: 80px;
}
.menu ul {
  display: flex;
  list-style: none; /*cambiar el estilo de la lista*/
  justify-content: right; /* alinear el menu al centro*/
}
.menu ul li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}
.menu ul li a {
  color: var(--aqua);
  display: block;
}
.menu ul li a:hover {
  color: var(--white);
}

/*QUIENES SOMOS*/
.quienes-somos {
  display: grid; /*visualizar en forma de malla*/
  grid-template-columns: auto auto; /*vividir en columnas tanto auto ponga o fr se dividira*/
}

.quienes-somos h2 {
  font-size: 48px;
  font-weight: 800;
  color: var(--main-color);
}
.img-quienes-somos {
  width: 600px;
}
.pd-50 {
  padding: 0px 50px;
}
.contenedor {
  max-width: 100%;
  padding: 80px 30px;
}
.center {
  text-align: center;
}
.contenedor h2 {
  font-size: 48px;
  font-weight: bold;
}
.contenedor p {
  font-size: 16px;
  font-weight: 500;
}
/*servicios*/
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  text-align: center;
  /*  margin-top: 80px;*/
}
.servicios .col {
  padding: 3%;
  border: 1px solid var(--gray);
  border-radius: 5px;
}
.icon {
  font-size: 90px;
}

/*FOOTER*/

footer {
  display: grid;
  grid-template-columns: auto auto auto;
}
footer .logo {
  width: 250px;
  padding-left: 40px;
}
footer h3 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer .social-icons {
  display: flex;
}
footer .social-icons li {
  padding: 5px;
}
footer .social-icons li a {
  font-size: 24px;
  color: var(--main-color)
}
footer .social-icons li a:hover {
  color: var(--aqua)
}
