body {
  background-color: rgb(222, 222, 222);
  color: rgb(36, 37, 37);
}
h1 {
  color: pink;
}
.h1 {
  color: red;
}
.list {
  list-style-type: none;
}
.list-orden {
  list-style-type: lower-greek;
}
.table-dark {
  background-color: black;
  color: gray;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tr {
  background-color: blue;
}
.img-responsive {
  width: 300px;
}
